.graphNode {
  stroke: #fff;
  stroke-width: 1.5px;
}

.graphLink {
  stroke: #999;
  stroke-opacity: .6;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

.treeNode circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.treeNode {
  font: 10px sans-serif;
}

.treeLink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}